.tarjeta{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    gap: 10px;
}

ion-card  {
    border-radius: 16px;
    box-shadow: rgba(255,255,255, 0.3) 0px 10px 15px -3px;
}

ion-datetime {
    border-radius: 16px;
    box-shadow: rgba(255,255,255, 0.3) 0px 10px 15px -3px;
  }